#Path to yugabyte bin
YBPATH=<path to yb binaries>

# Yugabyte Creds
PGUSER=yugabyte
PGHOST=<hostname>
PGPORT=5433
PGDATABASE=yugabyte
MASTER_ADDRESSES="<m1>:7100,<m2>:7100,<m3>:7100"

# CDC SDK Stream
KAFKA_HOST="<host:port>"
CDC_SDK_STREAM_ID=<stream id>
TABLES="<comma separated list of of tables>"
WORKLOAD=""
TOPIC_PREFIX=""
UID=""
SNAPSHOT_MODE=<never/initial>
